$font-primary: 'Source Sans Pro', sans-serif;
$color-yellow: #ffe52c;
$color-grey: #b0b0b0;
$color-black: #000;
$color-shadow: #e4e4e4;

.weight-bold {
    font-weight: 500;
}
.letter-space {
    letter-spacing: 1px;
}
.aca-lineh-sm {
    line-height: 1.2em;
}
.aca-lineh-md {
    line-height: 1.7em;
}
.text-upr {
    text-transform: uppercase;
}
.text-xs {
    font-size: 12px;
}
.text-sm {
    font-size: 14px;
}
.text-md {
    font-size: 18px;
}
.text-lg {
    font-size: 38px;
}
.text-h1 {
    font-size: 42px;
}
.text-h2 {
    @extend .text-lg;
}
.text-h3 {
    font-size: 24px;
}
.text-h4 {
    @extend .text-md;
}
.text-h5 {
    @extend .text-sm;
}
.text-h6 {
    font-size: 12px;
}
.aca-tran {
    transition: all 0.3s ease;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul, li, pre, xmp, plaintext, listing  {
    margin: 0;
    padding: 0;
}
body {
    font-family: $font-primary;
    font-size: 18px;
    color: $color-black;
    @extend .aca-lineh-md;
}
h1, h2, h3, h4, h5, h6, p {
    line-height: inherit;
}
h1 {
    @extend .text-h1;
}
h2 {
    @extend .text-h2;
}
h3 {
    @extend .text-h3;
}
h4 {
    @extend .text-h4;
}
h5 {
    @extend .text-h5;
}
h6 {
    @extend .text-h6;
}
a {
    color: $color-black;
    @extend .text-sm;
}
