$font-primary: 'Source Sans Pro', sans-serif;


html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: $font-primary;
    font-size: 17px;
    color: #444;
    letter-spacing: 1px;
}
.fontw-bold {
    font-weight: 600;
}
.text-xs {
    font-size: 12px;
    @extend .fontw-bold;
}
.text-sm {
    font-size: 14px;
    @extend .fontw-bold;
}
.text-upr {
    text-transform: uppercase;
}
