.aca-text {
    @extend .weight-bold;
    @extend .letter-space;
    @extend .text-upr;
}
.aca-text-xs {
    @extend .text-xs;
    @extend .aca-text;
}
.aca-text-sm {
    @extend .text-sm;
    @extend .aca-text;
}
.aca-text-md {
    @extend .text-md;
    @extend .aca-text;
}
.aca-text-lg {
    @extend .text-lg;
    @extend .aca-text;
}
.aca-pre-color-box {
    text-align: center;
    .box {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: inline-block;
        &.yellow {
            background-color: $color-yellow;
        }
        &.grey {
            background-color: $color-grey;
        }
        &.black {
            background-color: $color-black;
        }
    }
}

.aca-head-before {
    position: absolute;
    content: '';
    height: 4px;
    background-color: $color-yellow;
}
.aca-prim-before {
    @extend .aca-head-before;
    bottom: -8px;
    left: 0;
    width: 40%;
}
.aca-cent-before {
    @extend .aca-head-before;
    bottom: -8px;
    left: -10%;
    width: 120%;
}
.aca-head {
    position: relative;
    margin-bottom: 30px;
    @extend .text-upr;
    &.head-sm {
        @extend .aca-text-sm;
    }
    &.head-md {
        @extend .aca-text-md;
    }
    &.head-lg {
        @extend .text-lg;
        @extend .aca-lineh-sm;
    }
    &.prim {
        display: inline-block;
        &::before {
            @extend .aca-prim-before;
        }
    }
    &.cent {
        display: inline-block;
        text-align: center;
        &::before {
            @extend .aca-cent-before;
        }
    }
}
.aca-dash-head {
    position: relative;
    padding-left: 100px;
    &::before {
        position: absolute;
        content: '';
        background-color: $color-black;
        left: 0;
        top: 50%;
        width: 80px;
        height: 1px;
    }
}
/** Info box **/
.aca-info-box {
    text-align: left;
    display: inline-block;
    background: yellow;
    @extend .text-upr;
    &.xs {
        padding: 15px;
    }
    &.sm {
        padding: 35px;
    }
    .aca-infbx-cnt {
        p, h4 {
            margin-bottom: 16px;
            @extend .aca-lineh-sm;
        }
        &:first-child {
            margin-bottom: 20px;
            border-bottom: 1px solid $color-black;
        }
        &:last-child {
            h4 {
                margin-bottom: 0;
            }
        }
    }
}
.aca-page-pad-md {
    padding: 60px 0;
}


/** buttons **/
.aca-btn {
    border-radius: 0;
    @extend .letter-space;
    @extend .text-upr;
}
.btn-prim {
    background-color: $color-yellow;
    padding: 14px 26px;
}
